<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
	<h1>Vehicle Search</h1>

	<p>Enter a vehicle id:</p>

	<form class="bg-gray" action="#" th:object="${searchCriteria}" method="GET"
		th:action="@{/vehicles/dosearch}">

	    <div class="row">
			<!-- Vehicle ID -->
			<div class="form-group col-4">
				<label for="id" class="control-label col-xs-2">Vehicle Id</label>
				<input type="text" class="form-control" id="id"
					th:field="*{id}" placeholder="Enter vehicle id" style="width: 15em;" />
				<small class="form-text text-muted">Enter a valid id</small>
			</div>
	
			<!-- Vehicle id errors (if any) -->
			<div class="col-5 p-4">
				<span th:if="${#fields.hasErrors('id')}"
					style="color: red; font-size: smaller" th:errors="*{id}">Incorrect data</span>
			</div>
	    </div>

		<!--  Submit button -->
		<div class="form-group">
			<div class="col-xs-offset-2 col-xs-10">
				<button type="submit" class="btn btn-primary">Find</button>
			</div>
		</div>
	</form>

	<div th:replace="footer :: copy"></div>

</body>
</html>
